

/* ------------------------------------- */

/* index css */


header.masthead {
    /* padding-top: 10rem;
    padding-bottom: calc(10rem - 72px); */
    /* background: linear-gradient(to bottom, #2e3030c4 0%, #dfd4d4 100%), url(../images/bags/1.png); */
    /* background: linear-gradient(to bottom, #2e3030c4 0%, #dfd4d4 100%), url(../images/bags/544750.jpg); */
    background: black url(../images/bags/home-bag.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: scroll; */
    /* background-size: cover; */
  }



#mainNav .navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
    color: #f4623a;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link.active {
    color: #f4623a !important;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      color: rgba(255, 255, 255, 0.7);
    }
    
    #mainNav .navbar-nav .nav-item .nav-link {
      color: rgba(255, 255, 255, 0.7);
      padding: 0 1rem;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #fff;
    }
    #mainNav .navbar-nav .nav-item:last-child .nav-link {
      padding-right: 0;
    }
    #mainNav.navbar-scrolled {
      -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      background-color: #fff;
    }
  
    #mainNav.navbar-scrolled .navbar-brand {
      color: #212529;
      background-image: url(../img/logo5._white.png);
    }
    #mainNav.navbar-scrolled .navbar-brand:hover {
      color: #f4623a;
    }
    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
      color: #212529;
    }
    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
      color: #f4623a;
    }
    /* #mainNav .navbar-brand{
      background-image: url(../img/logo5.png);
    } */
  }





  

    /* login form css------------- */
  


.container{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    .social_icon span a{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }


    /* ------------------ */

    