

/* ------------------------------------- */

/* index css */


header.masthead {
    /* padding-top: 10rem;
    padding-bottom: calc(10rem - 72px); */
    /* background: linear-gradient(to bottom, #2e3030c4 0%, #dfd4d4 100%), url(../images/bags/1.png); */
    /* background: linear-gradient(to bottom, #2e3030c4 0%, #dfd4d4 100%), url(../images/bags/544750.jpg); */
    background: black url(../images/bags/home-bag.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: scroll; */
    /* background-size: cover; */
  }



#mainNav .navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
    color: #f4623a;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link.active {
    color: #f4623a !important;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      color: rgba(255, 255, 255, 0.7);
    }
    
    #mainNav .navbar-nav .nav-item .nav-link {
      color: rgba(255, 255, 255, 0.7);
      padding: 0 1rem;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #fff;
    }
    #mainNav .navbar-nav .nav-item:last-child .nav-link {
      padding-right: 0;
    }
    #mainNav.navbar-scrolled {
      -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      background-color: #fff;
    }
  
    #mainNav.navbar-scrolled .navbar-brand {
      color: #212529;
      background-image: url(../img/logo5._white.png);
    }
    #mainNav.navbar-scrolled .navbar-brand:hover {
      color: #f4623a;
    }
    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
      color: #212529;
    }
    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
      color: #f4623a;
    }
    /* #mainNav .navbar-brand{
      background-image: url(../img/logo5.png);
    } */
  }


  
/* registration--------------------- */


.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
.signForm{
    border:1px dotted #fff;
}



/* -------- */



